@import "../../styles/variables/colors";

.home-page {
    position: relative;
    .cards {
        margin-top: 170px;
        .title1{
            font-size: 22px;
            font-weight: 600;
        }
        .why-section {
            display: flex;
            justify-content: center;
            gap: 30px;
            
        }
    }
    .companies {
        margin-top: 70px;
        .title1{
            font-size: 22px;
            font-weight: 600;

        }
        .row1 {
            display: flex;
            justify-content: center;
            gap: 95px;
        }
        .row2 {
            display: flex;
            gap: 95px;
            margin-top: 30px;
            justify-content: center;
        }
    }
}
